@{
<header>
	<nav> 
		<a href="/Index.php">Home</a>
		<a href="/Portfolio/Portfolio.php?Project=Portfolio">Portfolio</a>
		<a href="/Resume/Resume.php?Page=About_Me">Resume</a>
		<a href="/Contact_Me.cshtml">Contact Me</a> 
	</nav>
</header>
}