@{
    <div id="TopNavigation" class="shadow roundCorners">
        <div class="center" style="width:655px">
            <a href="Index.php">Home</a>
            <a href="Portfolio.php">Portfolio</a>
            <a href="Resume.php">Resume</a>
            <a href="Contact_Me.cshtml">Contact Me</a>
        </div>
    </div>
}